<% provide(:title, "About") %>
<div class="about_logo">
	<%= image_tag("logo_small_cropped.png") %>
</div>
<div class="about_text">
<p><strong>brine + barrel<span class='regtrade'>&reg;</span></strong> is a simple effort to provide great pickles inspired by the way that foods should be.  We utilize sustainable, local family farms and process in season using all natural, non-GMO ingredients.  Every jar is hand packed and produced in small batches adhering to the craftsmanship standards that we truly appreciate. Whenever you see a jar on the shelf you will know that it was hand made, hand stamped and hand delivered. We sincerely hope that you enjoy these products as much as we do making them. <br />
<br />
Stay crisp, people.  <br />
<br />
<strong>brine + barrel<span class='regtrade'>&reg;</span></strong></p>
</div>

<div class="flex-container">
	<div class="center-pic">
		<%=image_tag("pickle_base.png") %>
	</div>
</div>