<% provide(:title, 'Contact') %>
<div class="container">

	<div class="row">
		<div class="col-xs-4">
				<%= image_tag("logo_small_cropped.png") %>
		</div>
	
		<div  class="col-xs-8">
			<h1>(717) PICKLE-0</h1>
			<h2><a href="mailto:brineandbarrel@gmail.com">brineandbarrel@gmail.com</a></h1>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<%= image_tag('pickle_banner.png', class: "banner") %>
		</div>
	</div>

</div>