<% provide(:title, 'Contact') %>
<div class="about_logo">
	<%= image_tag("logo_small_cropped.png") %>
</div>

<div class="about_text">
	<div >
		<h1>(717) PICKLE-0</h1>
		<h1><a href="mailto:brineandbarrel@gmail.com">brineandbarrel@gmail.com</a></h1>
		<%= image_tag('pickle_banner.png', class: "banner") %>
	</div>
</div>