<div id="canvas">
	<div class="center jumbotron">
		<h1>brine+barrel</h1>
	</div>

	<div class="center jumbotron placard">
		<h1>(717) PICKLE0</h1>
		<%= link_to "Order Now!", store_path, class: "btn btn-lg btn-primary" %>
	</div>

	<div class="center jumbotron comingsoon">
		<h1>Coming Soon!</h1>
		<h2>We're working hard to bring you the best pickles as well as the best online store to satisfy your cravings!</h2>
	</div>

	<%= image_tag('brine_and_barrel.png') %>
</div>