<div id="canvas">

	<div class="center jumbotron placard">
		<h1>Stay crisp, people.</h1>
	</div>

	<div class="center jumbotron comingsoon">
		<h1>Online store coming Soon!</h1>
		<h2>We're working hard to bring you the best pickles as well as the best online store to satisfy your cravings!</h2>
	</div>

	<%= image_tag('brine_and_barrel.jpg') %>
</div>