<% provide(:title,  "Home") %>
<div id="container">
	<div class="placard">
		<h1>brine + barrel</h1>
	</div>

	<div class="contact">
		<h3>brineandbarrel@gmail.com</h3>
		<h3>(651) 717.PICKLE0</h3>
	</div>

	<%= image_tag('brine_and_barrel.jpg') %>
</div>