<% provide(:title, "News") %>
<h1>Where to find us:</h1>

<div id="map-container">
	<div id="map-canvas"><a href="http://goldenfig.com/">Golden Fig Fine Foods</a><br />
		<%= image_tag("golden-fig-logo.png") %>
	</div>

	<div id="address-canvas">790 Grand Ave, Saint Paul, Minnesota 55105<br />
		<%= image_tag("Gfig_addy.png") %>

	</div>
</div>
