<% provide(:title, "News") %>
<h1>Where to find us:</h1>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-5"><a href="http://goldenfig.com/">Golden Fig Fine Foods</a><br />
			<%= image_tag("golden-fig-logo.png") %>
		</div>

		<div class="col-xs-7">790 Grand Ave, Saint Paul, Minnesota 55105<br />
			<%= image_tag("Gfig_addy.png") %>
		</div>
	</div>

	<br />

	<div class="row">
		<div class="col-xs-5"><a href="http://www.wedge.coop">Wedge Community Co-op</a><br />
			<%= image_tag("thewedge.png") %>
		</div>

		<div class="col-xs-7"> 2105 Lyndale Ave S, Minneapolis, Minnesota 55405<br />
			<%= image_tag("wedgemap.png") %>
		</div>
	</div>
</div>
