<% provide(:title, "Store") %>
<div class="container">
	<h1>Coming soon!</h1>
	<p class="text-center">While we're under construction, you can still place your order over <a href="mailto:brineandbarrel@gmail.com"><em>E-Mail</em></a></p>

		<div>
			<%= image_tag("jars_2_crop.png", class: "center-block img-responsive") %>
		</div>
</div>
