<% provide(:title, "Store") %>
<h1>Coming soon!</h1>
<p>While we're under construction, you can still place your order over <a href="mailto:brineandbarrel@gmail.com"><em>E-Mail</em></a></p>

<div class="flex-container">
	<div class="center-pic">
		<%= image_tag("jars_2_crop.png") %>
	</div>
</div>