@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* universal */

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* typography */

body {
  font-family: Courier, monospace;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#home h1{
  color: #fff;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

ul.navbar-right li {
  color: #354311;
}

#social a {
  color: #354311;
}

#social a:hover {
  color: #777;
}

/* additional sections */
#home {
  background: image-url('brine_and_barrel.jpg')no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#home {
  padding: 200px 0;
  width: 100%;
}

.glyphicon-earphone {
  padding: 6px 12px;
  padding-bottom: 14px;
}

/* scecial pic settings */



/* header */

.navbar-brand {
  padding: 10px 10px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  clear: both;
}

footer small {
  float: left;
}