

body {
font-family: Arial;
}

img {
  width: inherit;
  max-width:  100%;
  height: auto;
}

.container {
  position: relative;
  width: 100%;
}

.placard, .contact {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #486231;
  width: 60%;
  margin-left: 20%;
  text-align:  center;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.6);
}

.placard {
  top: 25%;
}
.contact {
  top: 35%;
 }