<footer class="footer">
	<small>
		brine + barrel<span class='regtrade'>&reg;</span>
	</small>
	<nav>
		<ul>
			<li><small>Made with love in Saint Paul, Minnesota</small></li>
		</ul>
	</nav>
</footer>