<footer class="footer">
	<small>
		brine + barrel<span class='regtrade'>&reg;</span>
	</small>
		<div class="nav navbar-nav navbar-right">
			<ul>
				<li>
				<small>Made in Saint Paul, MN</small>
				</li>
			</ul>
		</div>
</footer>